arrowParens: 'avoid'
bracketSameLine: true
bracketSpacing: true
jsxSingleQuote: false
printWidth: 80
proseWrap: 'always'
quoteProps: 'as-needed'
semi: false
singleQuote: true
tabWidth: 2
trailingComma: 'es5'
useTabs: true
